.mainmenu ul{
 margin:0;
 padding:0;
 float:left;
 border-bottom: 1px solid #6d6d6d;
 text-decoration: none;
 list-style-type:none;
}

.mainmenu>ul>li{
 font-family:Georgia, serif;
 font-style:Italic;
 font-size:18px;
 list-style-type:none;
 background-color:#CFCFCF;
 margin-left:2px;
 float:left;
 position:relative;
}
.mainmenu>ul li:first-child{ margin-left:0;}
.mainmenu>ul>li:hover{
 border-top:1px solid #6d6d6d;
 border-left:1px solid #6d6d6d;
 border-right:1px solid #6d6d6d;
 background-color:white;
}
.mainmenu>ul>li>a{
 display:block;
 text-decoration:none;
 color:black;
 padding-left:20px;
 padding-right:20px;
 line-height:37px;

}
.mainmenu>ul>li:hover>a{
 padding-left:19px;
 padding-right:19px;
 line-height: 36px;
 color:#8c8c8c;
 border-bottom: 1px solid white;
 margin-bottom: -1px;
}
.mainmenu>ul>li ul{
 display:none;
 padding:10px;
 background-color:white;
 width:186px;
 border-left:1px solid #6d6d6d;
 border-right:1px solid #6d6d6d;
 position:absolute;
 left:-1px;
 top: 37px;
 list-style-type: none;
}
.mainmenu>ul>li:hover ul{
 display:block;
 float:none;
}
.mainmenu>ul>li>ul li{
 border-top:1px solid #cfcfcf;
}
.mainmenu>ul>li>ul li:first-child{
 border-top: none;
}
.mainmenu>ul>li>ul a{
 text-decoration: none;
 font-family:Georgia, serif;
 font-size:14px;
 padding-top:5px;
 padding-bottom:5px;
 line-height:29px;
 color: black;
}
.mainmenu>ul>li>ul>li:hover a{
 color:#bd0707;
}
.margin{
 margin-left: 0 !important;
}