ul{
margin:0;
padding:0;
float:left;
}
ul li{
list-style-type:none;
}
.mainmenu{
font-family:Georgia;
font-style:Italic;
font-size:18px;
list-style-type:none;
background-color:#CFCFCF;
padding-left:20px;
padding-right:20px;
margin-left:2px;
line-height:37px;
float:left;
position:relative;
}
.mainmenu:hover{
border-top:2px solid #6d6d6d;
border-left:2px solid #6d6d6d;
border-right:2px solid #6d6d6d;
border-bottom:0;
background-color:white;
padding-left:18px;
padding-right:18px;

}
.mainmenu a{
display:block;
text-decoration:none;
color:black;
}
.mainmenu a:hover{
color:#8c8c8c;
}
.mainmenu ul{
display:none;
padding:10px;
background-color:white;
width:186px;
border-bottom:2px solid #6d6d6d;
border-left:2px solid #6d6d6d;
border-right:2px solid #6d6d6d;
}
.mainmenu:hover ul,li{
display:block;
float:none;
}
.sublist{
position:absolute;
left:-2px;
}
.sublist li{
font-family:Georgia;
font-size:14px;
padding-top:5px;
padding-bottom:5px;
border-bottom:1px solid #cfcfcf;
line-height:20px;
}
.sublist a:hover{
color:#bd0707;
}
.subl{
position:absolute;
left:-90px;
}
.subl li{
font-family:Georgia;
font-size:14px;
padding-top:5px;
padding-bottom:5px;
border-bottom:1px solid #cfcfcf;
line-height:20px;
}
.subl a:hover{
color:#bd0707;
}
.lastsublist{
border-bottom:0 !important;
}
hr{
position:fixed;
top:37px;
left:10px;
width:592px;
background-color:#6d6d6d;
height:1px;
z-index:-1;
}
