form{
  background-color: #A6DBB8;
  width: 400px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 12px;
  margin: 0 auto;
}
.caption{
  color: white;
  background-color: #85AF93;
  font-size: 16px;
  padding: 5px;
}
.aligncenter{
  text-align: center;
}
.table{
  display: table;
  margin-top: 20px;
}
.row{
  display: table-row;
  margin-bottom: 10px;
}
.column_left{
  display: table-cell;
}
.text_fields{
  display: table-cell;
  margin-left: 70px;
}
.form{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.go{
  color: white;
  background-color: #00CC66;
  border-radius: 50px;
}
textarea{
  resize :none;
}
select{
  width: 140px;
}