.upper-division{
  border-bottom:2px solid #db2927;
  padding:3px;
  width: 100%;
  display: table;
}

.lower-division{
	width:500px;
	margin: 0 auto;
	position: relative;
}
.contact-list{
 display: table-cell;
 text-align: right;
 vertical-align: bottom;
 
}
.contact{
 padding-left:5px;
 font-family: Tahoma, Verdana, Segoe, sans-serif;
 font-size:13px;
 color:black;
}
.email{
 font-family: Tahoma, Verdana, Segoe, sans-serif;
 font-size:13px;
 color:#045198;
 text-decoration: none;
}
ul{
 padding:0;
 margin:0;
}
.genderlist,.datelist{
 display:inline;
 list-style-type:none;
 font-family: Tahoma, Verdana, Segoe, sans-serif;
 font-size:13px;
 color:#6f6f6f;
 padding-bottom:20px;
}
.datelist select{
 font-family: Tahoma, Verdana, Segoe, sans-serif;
 font-size:13px;
 color:#6f6f6f;
 width:97px;
}
.form{
 background-color:#ececec;
 border:1px solid #bcbcbc;
 width:448px !important;
 padding:20px 25px;
 margin:0 auto;
 display:table;
}
.caption{
 font-family: Tahoma, Verdana, Segoe, sans-serif;
 font-size:18px;
 color:#2c286d;
 padding-top: 20px;
}
textarea{
 background-color:white;
 border:1px solid #b9b9b9;
 width:318px;
 height:133px;
}
.input{
 background-color:white;
 border:1px solid #b9b9b9;
 width:318px;
 height:23px ;
 background-color:white;
}
.submitbutton{
 background-color:#dc2927 ;
 border:1px solid #a10200 ;
 width:130px;
 height:32px ;
 text-align:center ;
 font-family: Tahoma, Verdana, Segoe, sans-serif ;
 font-size:14px ;
 color:white ;
}
.row{
 display:table-row;
}
.col{
 display:table-cell;
 padding-left:20px;
 padding-bottom:8px;
}
.colleft{
 display:table-cell;
 text-align:right;
 font-family: Tahoma, Verdana, Segoe, sans-serif;
 font-size:14px;
 color:black;
}
.logo{
 display:table-cell;
 text-align: left;
}
