body{
	font-family: Arial, Helvetica, sans-serif;
}
.main-division{
	width:100%;
	margin:0 auto;
}
.upper-division{
	width:100%;
	background-color: #404040 ;
	
}
.upper-right
{
	float: right;
	color:white !important;
}
.upper-right span{
	padding:4px;
	background-color: #CC6600;
	color:white;
}
.upper-right a:link{
	color:white !important;
}
.upper-division ul{
display: block;
padding:10px 60px 10px 60px;
}
.upper-division li{
display: inline;
padding-right: 15px;
}
.upper-division a{
	text-decoration: none;
	color: #E0E0E0 ;
	font-weight: bold;
	
}
.upper-second{
	padding-left: 60px;
	padding-right: 75px;
	padding-top: 25px;
}
.vinsol{
	padding-right: 25px;
	color: #0000CD;
	font-size: 31px;
	float: left;
	font-weight: bold;
}
.upper-second ul{
	display: inline;
	margin-left: 0;
	padding-left: 1px;
	padding-top: 3px;
	position: relative;
}
.upper-second input{
	float: right;
}
.upper-second>ul>li{

display: inline;


margin-bottom: 2px;
margin-left: 2px;
margin-right: 2px;
font-weight:bold;
}
.upper-second>ul>li:hover a{
	background-color: 336600;
}
.upper-second>ul>li a{
background-color: #404040 ;
padding: 6px;
color: white;
text-decoration: none;
}
.ask{
	
}
.ask a{
	background-color: 336600 !important;
	margin-left: 20px;
	float: right;
	
padding: 6px;
}
.upper-second a{
	text-decoration: none;
}
.head{
	font-weight: bold;
	font-size: 20px;

}
.inner{
	display: table;
	width: 100%;
	border-top: 1px solid #D0D0D0;
	padding-top: 10px;
}
.inner-left{
	display: table-cell;
	width: 70%;
	border-right: 1px solid #D0D0D0 ;
	padding-right: 10px;
	position: relative;
}
.inner-right{
	display: table-cell;
	width: 30%;
}
.inner-left>ul{
padding-left: 0;
margin-left: 0;
list-style-type: none;
}
.img{
	float: left;
	padding-right: 3px;
}
.reply{
	color: green;
}
.answer{
	color:#800000;
}
.lang{
	color:white;
	background-color: 336600;
	font-weight: bold;
	padding:3px;
}
.inner-left a{
	font-size: 20px;
	font-weight: bold;

}
.comment{
	color: #707070 
}
.inner-left li{
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 5px;

	line-height: 22px;
	border-bottom: 1px solid #D0D0D0 ;


}
.pop{
	padding:3px;
	border-top: 1px solid #D0D0D0 ;
	border-left: 1px solid #D0D0D0 ;
	border-right: 1px solid #D0D0D0 ;
	border-bottom: 2px solid white;
	position: absolute;
	font-weight: bold;
	top: 24px;
}
.inner-right{
	padding:5px;
}
.inner-right ol{
	margin-left: 0;
	padding-left: 0;
	list-style-position: inside;
	line-height: 18px;
}
.com{
	color: #707070 ;
	background-color: #E8E8E8  ;
}
hr{
	color:#D0D0D0;
	height: 1px;
}