.main-division{
width:1000px;
margin:0 auto;
}
.top-division{
background-color:#b2e7ff;
border-bottom:2px solid #0ab1ff;
width:1000px;
}
.top-heading{
font-family: Tahoma, Verdana, Segoe, sans-serif;
text-align:center;
font-size:24px;
color:black;
padding:15px;
}
.lrdivision{
overflow:hidden;
}
.left-division
{
width:230px;
background-color:#0ab1ff;
padding:25px 10px;
background-image:url(exercise2-bg.gif);
float:left;
padding-bottom: 1000px;
margin-bottom: -1000px;

}
.left-heading{
font-family: Tahoma, Verdana, Segoe, sans-serif;
font-size:18px;
color:black;
}
.left-para{
font-family: Tahoma, Verdana, Segoe, sans-serif;
font-size:12px;
color:black
}
.listing{
margin-left:0;
padding-left:0;
list-style-position:inside;
}
.list{
color:white;
padding-top:18px;
}
.list a{
font-family: Tahoma, Verdana, Segoe, sans-serif;
font-size:14px;
color:white;
text-decoration:none;
}
.right-division{
background-color:#ededed;
padding:20px;
width:710px;
display: table-cell;
float: left;
padding-bottom: 1000px;
margin-bottom: -1000px;
}
.right-heading{
font-family: Tahoma, Verdana, Segoe, sans-serif;
font-size:24px;
color:black;
}
.para-right{
font-family: Tahoma, Verdana, Segoe, sans-serif;
font-size:14px;
color:#802525;
}
.bottom-division{
background-color:#3cff78;
border-bottom:2px solid #0ab1ff;
clear:both;
text-align:center;
padding:15px;
}
.bottom-heading{
font-family: Tahoma, Verdana, Segoe, sans-serif;
font-size:24px;
color:black;

}


